@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior:smooth;
}

body{
  font-family: Inter, sans-serif;
}

.glass{
  backdrop-filter:blur(12px);
  background:rgba(255,255,255,0.7);
}